#yankee-body
{
    margin: 0;
}
 *.yankee ,.yankee *
{
    position: relative;
    box-sizing: border-box;
}

main 
{
display: flex;
position: fixed;
height: 100%;
width:100% ;
}
#yankee-config-section,#ui-section
{
width: 475px;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
background:#fbfbfb;
box-shadow:1px 0px 10px 0Px #ddd;
}

#ui-section
{
    box-shadow:-1px 0px 15px 0Px #ddd;   
}

#ui-view
{
    padding: 40px;
}
iframe
{
width: 100%;


}

.yankee
{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
-webkit-user-select: none;
user-select: none;
}

.yankee .adder
{
    height:4px ;
    margin: 2px 0px;
    transition:0.1S linear height;
}

.yankee .adder.child
{
margin-left: 14px;
}

.yankee .notebook .tabs
{
position: relative;
}
.yankee .notebook .tab
{
position: absolute;
left:0;                                                                                                                                                                                                                                                                                    x: 0;
top:0;
width: 100%;
padding: 20px 20px 10px;
box-sizing: border-box;
display: none;
}

.yankee .notebook .tab.active
{
display: block;
}
.yankee .adder:hover
{

height: 10px;
border: 3px solid  rgb(255, 65, 154);
box-shadow:-1px 0px 5px 0Px  rgb(224, 0, 104);
border-radius: 5px;

}

.yankee .adder.child:hover
{
    border: 3px solid rgb(190, 11, 11);
box-shadow:-1px 0px 5px 0Px rgb(214, 56, 3);
}

.yankee .notebook button
{
padding: 10px 10px;
color: black;
border: none;

}

.yankee .notebook button:hover
{
background-color:rgb(230, 230, 230);


}

.yankee .notebook button.active
{
border-bottom: 2px solid rgb(224, 0, 104);

}
.yankee .notebook .header
{

background: #f4F4F4;
display: flex;

}

.yankee a
{
    text-decoration: none;
}


.yankee .option
{

}

.yankee .option h3
{
    width: 100%;
}

.yankee .section-header
{
    text-align: center;
    width: 100%; 
    background-color: rgb(224, 0, 104);
    color: white;
    padding:10px ;
}

.yankee .option textarea, .yankee .option input
{
    width: 100%;
    resize: none;
    border-radius: 10px;
    border:1px solid #bbb;
    background-color: #fafafa;
}

.yankee .option textarea
{
    height: 100px;
}

.yankee .option h3
{
margin-bottom:5px;
}
